<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149159772.jpg?w=740&t=st=1675238724~exp=1675239324~hmac=21c1bbf6f3ea5082f9c766428877837452b8fbb703aa8e9103e2997187adf8e4" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page 1"></app-explore-container> -->
</ion-content>
